<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<%- messages() %>

<section>
    <h2>Welcome <%= locals.user.account_firstname %></h2>
    <br>
    <p>You are logged in.</p>
    <a href="/account/update/<%= locals.user.account_id %>">Edit Account Information</a>
<!-- <pre><%= JSON.stringify(locals.user, null, 2) %></pre> -->
    <% if (locals.user.account_type === "Employee" || locals.user.account_type === "Admin") { %>
        <h3 id="inv-management">Inventory Management</h3>
        <p><a href="/inventory">Access Inventory Management</a></p>
    <% } %>
</section>